.container {
    max-width: 950px;
    padding: 20px 20px;
    margin: 0 auto;
    word-break: break-word;
}

.header {
    font-size: 36px;
    font-weight: bolder;
    margin: 18px 0;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}